doctype html
html 
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="robots", content="noindex,nofollow")
    title Auto School Information System
    link(rel="icon", type="image/x-icon", href="/images/favicon.ico")
    style 
      include style.css 
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.googleapis.com", crossorigin)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap")
    block scripts
  body 
    div.container
      block content