*,
::before,
::after {
  box-sizing: border-box;
  outline: none !important;
}

body {
  background-color: #ffffff;
  color: #222222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}
.container {
  margin: 2rem auto;
  width: 960px;
  overflow: hidden;
}
.page-title-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.back-circle {
  display: flex;
  width: 3rem;
  height: 3rem;
  border: 2px solid #dddddd;
  border-radius: 2rem;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.topics {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.topic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc((960px - 3rem) / 4);
  height: 180px;
  padding: 1rem;
  border: 2px solid #dddddd;
  border-radius: 1rem;
  color: #222222;
  text-decoration: none;
  background-color: #ffffff;
}
.topic:hover {
  border-color: #2d68ff;
  /* color: #2d68ff; */
}
.topic .number {
  font-size: 0.75rem;
}
.topic .title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.topic .count {
  font-size: 0.75rem;
}

.page-title {
  margin: 0;
}
.page-description {
  font-size: 0.875rem;
}
.topic-tests .test {
  margin-top: 1.5rem;
}
.topic-tests .test .question {
  margin-bottom: 0.5rem;
}
.topic-tests .test .answer {
  display: block;
  margin-top: 0.5rem;
  background-color: #dddddd;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  cursor: pointer;
}
.topic-tests .test .answer.true {
  background-color: #00e0a1;
  color: #000000;
}
.topic-tests .test .answer.false {
  background-color: #ff2d68;
  color: #000000;
}
.topic-tests .description {
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  background-color: #ffc42d;
  color: #222222;
  display: none;
  gap: 0.5rem;
  align-items: center;
}
.topic-tests .description.show {
  display: flex !important;
}
.topic-tests img {
  max-height: 160px;
  max-width: 100%;
}
.back {
  display: block;
  margin-top: 1rem;
  text-decoration: none;
  padding: 0.75rem;
  width: 100%;
  text-align: center;
  background-color: #2d68ff;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  border-radius: 1rem;
  margin-top: 2rem;
}
.divider {
  border: 1px solid #dddddd;
}
.show {
  display: block !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.mb-1rem {
  margin-bottom: 1rem;
}
.mb-1p5rem {
  margin-bottom: 1.5rem;
}
.mb-2rem {
  margin-bottom: 2rem;
}

.footer {
  margin-top: 2rem;
  font-size: 0.875rem;
  text-align: center;
}

@media screen and (max-width: 769px) and (min-width: 426px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 2rem;
  }
  .topic {
    width: calc((100vw - 6rem) / 3);
    height: 180px;
  }
}

@media (max-width: 426px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 2rem;
  }
  .topic {
    width: 100%;
    height: 160px;
  }
  .page-title {
    font-size: 1.125rem;
  }
}
